.ebay-product
  extends ../layout
  block content
    .product-view
      include part-name
      include panel-short-description
      include panel-images
      .row
        .col-lg-7
          include panel-description
        .col-lg-5
          include panel-zusatzinformationen
        .col-lg-6
          include ../panel-support-short
        .col-lg-6
          include ../panel-bank