.panel.panel-bgw
  .panel-heading
    h3.panel-title Zusatzinformation
  .panel-body
    dl.dl-horizontal
      dt Vergleichsnr.
      dd(title='#sku#') #sku#
      dt Gewicht in kg
      dd(title='#weight#') #weight#
      dt Lieferzeit in T.
      dd(title='#delivery_time#') #delivery_time#
      dt Hersteller
      dd(title='#manufacturer#') #manufacturer#