.panel.panel-bgw
  .panel-heading
    h3.panel-title
      i.icon-list
      | Zusatzinformation
  .panel-body
    dl
      dt Vergleichsnummer
      dd(title='#sku#') #sku#
      dt Gewicht in kg
      dd(title='#weight#') #weight#
      dt Lieferzeit in Tagen
      dd(title='#delivery_time#') #delivery_time#
      dt Hersteller
      dd(title='#manufacturer#') #manufacturer#