.promotionbox-support
  .panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-phone
        a(href="#{ebay.sites['Informationen zum Verkäufer']}")
          | Support
    .panel-body
      dl
        include part-support