.promotionbox-versand
  .panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-info
        | Informationen
    .panel-body
      a(href="#{ebay.sites['KBA Zertifizierung']}", title="TÜV Thüringen Zertifiziert | KBA 15 102 12019")
        img(style='width: 50%; margin-left:25%; margin-right:25%;', alt="TÜV Thüringen Zertifiziert | KBA 15 102 12019", src="#{source_url}/images/tuv_cert.png")
      br
      br
      a(href="#{ebay.sites['Volkswagen Classic Parts']}", title="Volkswagen Classic Parts")
        img(style='width: 70%; margin-left:15%; margin-right:15%;', alt="Volkswagen Classic Parts", title="Volkswagen Classic Parts", src="#{source_url}/images/vwcp.jpg")