.promotionbox-versand
  .panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-truck
        | Versand
    .panel-body
      img(src='images/Logo_DPD.svg', style='width: 100%;')
      img(src='images/United-Parcel-Service-Logo.svg', style='width: 100%;')