.promotionbox-zahlungsarten
  .panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-money
        | Zahlungsarten
    .panel-body
      small Wir bieten ihnen folgende Zahlungsarten für eine bequeme Kaufabwicklung
      table(border='0', cellpadding='10', cellspacing='0', align='center')
        tr
          td(align='center')
        tr
          td(align='center')
            img(src='https://www.paypalobjects.com/webstatic/de_DE/i/de-pp-logo-100px.png', border='0', alt='PayPal Logo')
      br
      font(style='width: 100%; text-align: center; display: block;')
        b Banküberweisung
      img(src='#{source_url}/images/ueberweisungstraeger.svg', style='width: 100%;')