.promotionbox-impress
  .panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-info
        | Impressum
    .panel-body
      dl
        dt Inhaber
        dd(title='Christopher Heinecke') Christopher Heinecke
        dt Adresse
        dd(title='Bugwelder') Bugwelder
        dd(title='Strichweg 35') Strichweg 35
        dd(title='27472 Cuxhaven') 27472 Cuxhaven
        dd(title='Deutschland') Deutschland
        dt Öffnungszeiten
        dd(title='Mo - Fr') Mo - Fr
        dd(title='09.00-18.00 Uhr') 09.00-18.00 Uhr
        dt USt - IdNr.
        dd(title='DE243667612') DE243667612