.promotionbox-impress
  .panel.panel-bgw
    .panel-heading
      h3.panel-title
        a(href="#{ebay.sites['Impressum']}")
          i.icon-building
          | Impressum
    .panel-body
      dl
        include part-impressum
      dl
        include part-jumplink