.promotionbox-versand
  .panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-truck
        a(href="#{ebay.sites['Lieferung']}")
         | Versand
    .panel-body
      img(title="DPD", alt="DPD", src='#{source_url}/images/Logo_DPD.svg', style='width: 50%; margin-left:25%; margin-right:25%;')
      img(title="UPS", alt="UPS", src='#{source_url}/images/United-Parcel-Service-Logo.svg', style='width: 50%; margin-left:25%; margin-right:25%;')