doctype 5
html
  head
    include head
  body
    // remove #CentralArea and #EBdescription in ebay
    #CentralArea
      #EBdescription
        // -> ebay product discription
        div.ebay-product-discription
          include top-nav
          .ebay-container
            include left-nav
        // <- ebay product discription