doctype 5
html
  head
    if mode == 'local'
      include head
  body
    if mode == 'local'
      #CentralArea
        #EBdescription
          div.ebay-product-discription
            include top-nav
            .ebay-container
              include left-nav
    else
      div.ebay-product-discription
        include head
        include top-nav
        .ebay-container
          include left-nav