doctype 5
html
  head
    if mode == 'local'
      include head
  body
    if mode == 'local'
      #CentralArea
        #EBdescription
          .ebay-product-discription
            include top-nav
            .ebay-container
              include left-nav
    else
      .ebay-product-discription.container
        include head
        include top-nav
        .ebay-container
          include left-nav