.row
  .hidden-sm.col-md-3.col-lg-3.left-nav
      ul.nav.nav-stacked.bgw-vertical-nav
        li.title
          i.icon-sitemap
          | SHOP-SEITEN
        each link, name in ebay.sites
          li
            a(href='#{link}') #{name}
      br
      include block-left-boxes
    .col-sm-12.col-md-9.col-lg-9
      block content