.support
  .telephone
  .panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-phone
        | Support
    .panel-body
      p Eine Auswahl haben wir hier in unseren Ebay-Shop für sie zusammengestellt. Sollten sie ein bestimmtes Teil nicht finden, heisst es nicht, das wir es nicht haben. 
      strong Setzen sie sich einfach mit unserem Kunden-Service in Verbindung:
      dl.dl-horizontal
        include part-support-aboutme
      p Unsere Mitarbeiter sind fachlich qualifiziert und helfen ihnen sehr gerne. Das Qualitätsmanagementsystem unseres Betriebes ist durch den 
        a(href="#{ebay.sites['KBA Zertifizierung']}") TÜV Thüringen im Sinne des Kraftfahrtbundesamtes zertifiziert worden.
      p Sie können sich ebenfall täglich über Neuigkeiten rund um Bugwelder informieren. Hierzu besuchen sie einfach unsere 
        a(href="https://www.facebook.com/Bugweldershop")
          i.icon-facebook
          |   Facebook-Seite.