.panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-group
        | Willkommen bei Bugwelder
    .panel-body
      p Wir haben es  uns zum Ziel gemacht, sie mit hochwertigen Ersatz- &#38; Zubehörteilen für ihren historischen Volkswagen zu versorgen.
      p Unser Sortiment umfasst Restaurationsteile , Verschleissteile sowie wunderschönes Zubehör um ihr Fahrzeug stilicher zu individualisieren. Unsere gut gefüllten Lagerregale beinhalten fast 10000 unterschiedliche Artikel für wasser- &#38; luftgekühlte Volkswagen.
      strong Die Modellpalette unsere Teilekatalogs umfasst: 
      ul
        li VW Käfer
        li Karmann Ghia
        li VW Bus T1
        li VW Bus T2
        li VW Bus T3
        li VW Bus T4
        li VW Golf 1
        li VW Golf 2 