.panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-male
        | Benjamin
    .panel-body
      .media
          a.pull-left(href='#{ebay.sites["Informationen zum Verkäufer"]}')
              img.media-object(src='#{source_url}/images/schmidt.jpg', alt='Ben Schmidt')
          .media-body
            h4.media-heading Hallo
            p mein Name ist Benjamin Schmidt und ich bin bei Bugwelder für Kundenberatung &#38; den Verkauf zuständig. Als ausgebildeter KFZ-Meister habe ich einige Jahre eine Werkstatt für luftgekühlte Volkswagen geleitet. Mittlerweile hat es mich aus dem Sauerland an die stürmische Nordseeküste zu Bugwelder verschlagen. Ich freue mich ihnen bei ihrer Fahrzeugrestauration oder bei der Wahl eines Ersatzteils fachkundig zur Seite stehen zu dürfen.
            p Durch meine Qualifikation zum Gutachter können wir seit Kurzem auch entsprechende Fahrzeuggutachten für klassische Kfz anbieten. Sprechen sie mich doch einmal darauf an.
            br
            p Beste Grüsse!
            br
            p Ben Schmidt