.panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-male
        | Christopher
    .panel-body
      .media
          a.pull-left(href='#{ebay.sites["Informationen zum Verkäufer"]}')
              img.media-object(src='#{source_url}/images/christopher.jpg', alt='Christopher Heinecke')
          .media-body
            h4.media-heading Moin Moin &#38; Herzlich willkommen bei Bugwelder
            p 
            | Mein Name ist Christopher Heinecke und ich bin der Inhaber von Bugwelder.
            br
            | Nach meinem Fahrzeugtechnik-Studium an der HAW Hamburg mit dem Schwerpunkt Antrieb &#38; Fahrwerk habe ich "Bugwelder" 2005 in Cuxhaven gegründet.
            br
            | Mein Bestreben ist es ihnen hochqualitative Ersatz- &#38; Tuningteile für ihren historischen Volkswagen zu liefern.
            br
            | Ich bemühe mich mit meinen Mitarbeitern stets ein Höchstmaß an Service und Kundenfreundlichkeit für sie bereitzustellen. Dieses Ziel haben wir sowohl hier bei Ebay als auch in unserem übersichtlichen Online-Shop umgesetzt.
            br
            | Ich wünsche ihnen viel Spaß beim Stöbern und freue mich von ihnen zu hören.
            br
            br
            p Beste Grüsse von der Küste!