.support
  .telephone
  .panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-phone
        | Support
    .panel-body
      | Sie können unseren Kundenservice von 9:00 bis 18:00 Uhr erreichen, egal ob es dabei um die Lösung eines technischen Problems, Fragen zu einer Bestellung, einem Produkt oder einer ganz allgemeinen Anfrage geht.
      dl.dl-horizontal
        include part-support