.bank
  .panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-credit-card
        | Bankdaten
    .panel-body
      p Die Bezahlung der bei eBay ersteigerten Artikel kann per Paypal oder Banküberweisung abgewickelt werden. 
      strong Unsere Bankverbindung lautet: 
      dl.dl-horizontal
        include part-bank
      p Bitte geben Sie bei einer Banküberweisung des Kaufbetrages die eBay-Auktionsnummer im Betrefffeld der Überweisung mit an. So können wir Ihre Zahlung schnellstmöglich zuweisen und ein zügiger Ablauf des Versandprozesses ist sichergestellt.
      p Die ersteigerten Artikel enthalten selbstverständlich die gesetzliche Mehrwertsteuer. Eine gültige Handelsrechnung mit ausgewiesener Mehrwertsteuer liegt Ihrer Sendung bei. Die eBay-Gebühren gehen zu unseren Lasten und werden nicht separat ausgewiesen.