.panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-female
        | Jenny
    .panel-body
      .media
          a.pull-left(href='#{ebay.sites["Informationen zum Verkäufer"]}')
              img.media-object(src='#{source_url}/images/jenny.jpg', alt='Jennifer Steltner')
          .media-body
            h4.media-heading Hallo
            p Mein Name ist Jennifer Steltner.
            p Nach meinem Schulabschluss habe ich ein Jahr in den USA gelebt.
            p Mittlerweile arbeite ich bei Bugwelder und kümmere mich um telefonische Anfragen sowie die Artikelpflege unseres Online Shops.
            p Ich freue mich besonders, meine Kenntnisse in englischer Sprache in die Übersetzungen unserer Shop- Artikel und Korrespondenz mit internationalen Kunden &#38; Lieferanten einbringen zu können.
            p Liebe Grüsse
            br
            p Jenny