dt(title="Hotline") Hotline     
dd(title='Mo - Fr') Mo - Fr
dd(title='09.00-18.00 Uhr') 09.00-18.00 Uhr
dt Telefon
dd(title='+49(0) 4721/ 39 69 02')
  a(href="tel:+49 4721/ 39 69 02", target="_blank") +49(0) 4721/ 39 69 02
dt Fax
dd(title='+49 (0)4721/ 39 69 05') +49 (0)4721/ 39 69 05
dt E-Mail
dd(title='info@bugwelder.com')
  a(href="mailto:info@bugwelder.com", target="_blank") info@bugwelder.com
dt(title="Live-Chat") Live-Chat
dd 
  a(title="Weitere Informationen", href="#{ebay.sites['Informationen zum Verkäufer']}") Weitere Informationen
dt(title="Ticketsystem") Ticketsystem
dd 
  a(title="Weitere Informationen", href="#{ebay.sites['Informationen zum Verkäufer']}") Weitere Informationen