dt(title="Bank") Bank  
dd(title='SSK Cuxhaven') SSK Cuxhaven
dt(title="Kontonummer") Kontonummer    
dd(title='601-817205') 601-817205
dt(title='Bankleitzahl') Bankleitzahl
dd(title='200 100 20') 200 100 20
dt(title='IBAN') IBAN
dd(title='DE86241500010000147215') DE86241500010000147215
dt(title='BIC') BIC
dd(title='BRLADE21CUX') BRLADE21CUX
dt(title='Betreff') Betreff
dd(title='[eBay-Auktionsnummer]') [eBay-Auktionsnummer]