div.ebay-shop.site
  .panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-building
        | Impressum
    .panel-body
      dl.dl-horizontal
        include part-impressum
      dl.dl-horizontal
        include part-support
      dl.dl-horizontal
        include part-jumplink