#EBdescription(style='min-width: 902px; max-width: 1403px;')
h2.product-title #name#
.panel.panel-bgw
  .panel-heading
    h3.panel-title Produktbeschreibung
  .panel-body
    | #short_description#
    br
.panel.panel-bgw
  .panel-heading
    h3.panel-title Produktbilder
  .panel-body
    | #media_gallery[,,,2,row,0,""]#
.row
  .col-sm-7
    .panel.panel-bgw
      .panel-heading
        h3.panel-title Details
      .panel-body
        | #description#
  .col-sm-5
    .panel.panel-bgw
      .panel-heading
        h3.panel-title Zusatzinformation
      .panel-body
        dl.dl-horizontal
          dt Vergleichsnr.
          dd(title='#sku#') #sku#
          dt Gewicht in Kg
          dd(title='#weight#') #weight#
          dt Lieferzeit in T.
          dd(title='#delivery_time#') #delivery_time#
          dt Hersteller
          dd(title='#manufacturer#') #manufacturer#