.ebay-shop.site 
  .panel.panel-bgw
      .panel-heading
          h3.panel-title Allgemeine Geschäftsbedingungen &#38; Kundeninformationen
        .panel-body
          h2 Inhaltsverzeichnis
          h3 A. Allgemeine Geschäftsbedingungen
          ul
            li 1. Geltungsbereich 
            li 2. Vertragsschluss
            li 3. Rücksendekosten bei Ausübung des Widerrufsrechts
            li 4. Preise und Zahlungsbedingungen 
            li 5. Liefer- und Versandbedingungen
            li 6. Eigentumsvorbehalt
            li 7. Mängelhaftung
            li 8. Anwendbares Recht, Gerichtsstand, Vertragssprache
          h3 B. Kundeninformationen
          ul
            li 1. Informationen zur Identität des Verkäufers
            li 2. Informationen zu den wesentlichen Merkmalen der Ware oder Dienstleistung
            li 3. Informationen zum Zustandekommen des Vertrages
            li 4. Informationen zu Zahlung und Lieferung
            li
              | 5. Informationen über die technischen Schritte, die zu einem Vertragsschluss führen
            li 6. Informationen zur Speicherung des Vertragstextes
            li
              | 7. Informationen über die technischen Mittel um Eingabefehler zu erkennen und zu berichtigen
            li
              | 8. Informationen über die für den Vertragsschluss zur Verfügung stehenden Sprachen
            li 9. Informationen zum Datenschutz
          h1 A. Allgemeine Geschäftsbedingungen
          h2 1) Geltungsbereich
          p
            b 1.1
            | Diese Geschäftsbedingungen der/des Christopher Heinecke (nachfolgend &bdquo;Verkäufer”), gelten für alle Verträge, die ein Verbraucher oder Unternehmer (nachfolgend &bdquo;Kunde”) mit dem Verkäufer hinsichtlich der vom Verkäufer auf der Internet-Handelsplattform eBay (nachfolgend &bdquo;eBay”) dargestellten Waren und/oder Leistungen abschließt. Hiermit wird der Einbeziehung von eigenen Bedingungen des Kunden widersprochen, es sei denn, es ist etwas anderes vereinbart.
          p
            b 1.2
            | Ein Verbraucher im Sinne dieser Allgemeinen Geschäftsbedingungen ist jede natürliche Person, die ein Rechtsgeschäft zu einem Zweck abschließt, der weder ihrer gewerblichen noch ihrer selbstständigen beruflichen Tätigkeit zugerechnet werden kann. Ein Unternehmer im Sinne dieser Allgemeinen Geschäftsbedingungen ist jede natürliche oder juristische Person oder eine rechtsfähige Personengesellschaft, die bei Abschluss eines Rechtsgeschäfts in Ausübung ihrer selbstständigen beruflichen oder gewerblichen Tätigkeit handelt.
          h2 2) Vertragsschluss
          p
            | Das Zustandekommen des Vertrages bei eBay richtet sich nach §§ 10, 11 der Allgemeinen Geschäftsbedingungen von eBay für die Nutzung der deutschsprachigen eBay-Websites. Dort ist der Vertragsschluss je nach Angebotsformat wie folgt geregelt:
          p
            | &bdquo;§10 Auktion, Auktion mit Sofort-Kaufen-Option, Multiauktion und Angebot an unterlegene Bieter
          p
            | 1. Stellt ein Anbieter, auf der eBay-Website einen Artikel im Angebotsformat Auktion ein, gibt er ein verbindliches Angebot zum Abschluss eines Vertrags über diesen Artikel ab. Dabei bestimmt der Anbieter einen Startpreis und eine Frist (Angebotsdauer), binnen derer das Angebot per Gebot angenommen werden kann. Der Bieter nimmt das Angebot durch Abgabe eines Gebots über die Bieten-Funktion an. Das Gebot erlischt, wenn ein anderer Bieter während der Angebotsdauer ein höheres Gebot abgibt. Bei Ablauf der Auktion oder bei vorzeitiger Beendigung des Angebots durch den Anbieter kommt zwischen Anbieter und Höchstbietendem ein Vertrag über den Erwerb des Artikels zustande, es sei denn der Anbieter war gesetzlich dazu berechtigt das Angebot zurückzunehmen und die vorliegenden Gebote zu streichen. Nach einer berechtigten Gebotsrücknahme kommt zwischen dem Mitglied, das nach Ablauf der Auktion aufgrund der Gebotsrücknahme wieder Höchstbietender ist und dem Anbieter kein Vertrag zustande. Anbieter und Höchstbietender können sich einigen, dass ein Vertrag zustande kommt.
          p
            | 2. Jeder Bieter kann bei einer Auktion ein Maximalgebot abgeben. Das Maximalgebot stellt den Höchstbetrag dar, den der Bieter bereit ist, für den Artikel zu bezahlen. Das Maximalgebot bleibt dem Anbieter und anderen Bietern verborgen. Bieten weitere Mitglieder auf den Artikel, so wird das aktuelle Gebot automatisch schrittweise erhöht, sodass der Bieter so lange Höchstbietender bleibt, bis sein Maximalgebot von einem anderen Mitglied überboten wurde.
          p
            | 3. Anbieter können für eine Auktion unter bestimmten Voraussetzungen einen Mindestpreis festlegen, der vom Startpreis abweicht. In diesem Fall kommt ein Vertragsschluss nicht zustande, wenn das Gebot des Höchstbietenden bei Ablauf der Auktion den Mindestpreis nicht erreicht.
          p
            | 4. Angebote können unter bestimmten Voraussetzungen auch mit der Option Sofort- Kaufen (Festpreis) versehen werden. In diesem Fall kommt ein Vertrag über den Erwerb des Artikels unabhängig vom Ablauf der Angebotszeit und ohne Durchführung einer Auktion bereits dann zum Sofort-Kaufen-Preis (Festpreis) zustande, wenn ein Mitglied diese Option ausübt. Die Option kann von jedem Mitglied ausgeübt werden, solange noch kein Gebot auf den Artikel abgegeben wurde oder die Gebote einen vom Anbieter festgelegten Mindestpreis noch nicht erreicht haben. (...)
          p
            | § 11 Sofort-Kaufen-Artikel (Festpreisartikel), Preis vorschlagen und &bdquo;Sofortige Bezahlung erforderlich”
          p
            | 1. Stellt ein Anbieter einen Artikel im Angebotsformat Sofort-Kaufen ein, gibt er ein verbindliches Angebot ab, dass andere Mitglieder den Artikel zu dem angegebenen Preis erwerben können. Der Vertragsschluss kommt zustande, wenn ein Mitglied die Schaltfläche &bdquo;Sofort-Kaufen” anklickt und den Vorgang bestätigt.
          p
            | 2. In bestimmten Kategorien kann der Anbieter sein Angebot mit der Option &bdquo;Preis vorschlagen” versehen. Interessenten können dem Anbieter das Angebot machen, den Artikel zu einem bestimmten Preis zu erwerben. Der Anbieter kann einen Preisvorschlag annehmen, ablehnen oder einen Gegenvorschlag unterbreiten. Preisvorschläge von Interessenten und Gegenvorschläge des Anbieters sind bindend und behalten jeweils 48 Stunden ihre Gültigkeit. Ein Vertrag kommt dann zustande, wenn sich Anbieter und Interessent über den Preis einigen, sei es über die Funktion &bdquo;Preis Vorschlagen” oder zum ursprünglichen Sofort-Kaufen-Preis. Mit Vertragsschluss verlieren sämtlich Preisvorschläge und Gegenvorschläge ihre Gültigkeit. (...)”
          h2 3) Rücksendekosten bei Ausübung des Widerrufsrechts
          p
            | Hat der Kunde ein Widerrufsrecht, so werden ihm bei Ausübung des Widerrufsrechts die regelmäßigen Kosten der Rücksendung auferlegt, wenn der Preis der zurückzusendenden Sache einen Betrag von 40 Euro nicht übersteigt oder wenn bei einem höheren Preis der Sache der Kunde die Gegenleistung oder eine Teilzahlung zum Zeitpunkt des Widerrufs noch nicht erbracht hat, es sei denn, dass die gelieferte Ware nicht der bestellten entspricht. In allen anderen Fällen trägt der Verkäufer die Kosten der Rücksendung.
          h2 4) Preise und Zahlungsbedingungen
          p
            b 4.1
            | Die angegebenen Preise des Verkäufers sind Endpreise und enthalten die gesetzliche Umsatzsteuer. Gegebenenfalls zusätzlich anfallende Liefer- und Versandkosten werden in der jeweiligen Produktbeschreibung gesondert angegeben.
          p
            b 4.2
            | Bei Lieferungen in Länder außerhalb der Europäischen Union können im Einzelfall weitere Kosten anfallen, die der Verkäufer nicht zu vertreten hat und die vom Kunden zu tragen sind. Hierzu zählen beispielsweise Kosten für die Geldübermittlung durch Kreditinstitute (z.B. Überweisungsgebühren, Wechselkursgebühren) oder einfuhrrechtliche Abgaben bzw. Steuern (z.B. Zölle).
          p
            b 4.3
            | Dem Kunden stehen verschiedene Zahlungsmöglichkeiten zur Verfügung, die auf der jeweiligen Angebotsseite des Verkäufers bei eBay angegeben werden.
          p
            b 4.4
            | Ist Vorauskasse vereinbart, ist die Zahlung sofort nach Vertragsabschluss fällig.
          h2 5) Liefer- und Versandbedingungen
          p
            b 5.1
            | Die Lieferung von Waren erfolgt regelmäßig auf dem Versandwege und an die vom Kunden angegebene Lieferanschrift. Bei der Abwicklung der Transaktion ist die vom Kunden bei eBay hinterlegte Lieferanschrift maßgeblich.
          p
            b 5.2
            | Sendet das Transportunternehmen die versandte Ware an den Verkäufer zurück, da eine Zustellung beim Kunden nicht möglich war, trägt der Kunde die Kosten für den erfolglosen Versand. Dies gilt nicht, wenn der Kunde durch verweigerte Annahme sein Widerrufsrecht ausübt, wenn er den Umstand, der zur Unmöglichkeit der Zustellung geführt hat, nicht zu vertreten hat oder wenn er vorübergehend an der Annahme der angebotenen Leistung verhindert war, es sei denn, dass der Verkäufer ihm die Leistung eine angemessene Zeit vorher angekündigt hatte.
          p
            b 5.3
            | Bei Selbstabholung informiert der Verkäufer den Kunden zunächst per E-Mail darüber, dass die von ihm bestellte Ware zur Abholung bereit steht. Nach Erhalt dieser E-Mail kann der Kunde die Ware nach Absprache mit dem Verkäufer abholen. In diesem Fall werden keine Versandkosten berechnet.
          h2 6) Eigentumsvorbehalt
          p
            | Tritt der Verkäufer in Vorleistung, behält er sich bis zur vollständigen Bezahlung des geschuldeten Kaufpreises das Eigentum an der gelieferten Ware vor.
          h2 7) Mängelhaftung
          p Es gilt die gesetzliche Mängelhaftung.
          h2 8) Anwendbares Recht, Gerichtsstand, Vertragssprache
          p
            b 8.1
            | Für sämtliche Rechtsbeziehungen der Parteien gilt das Recht der Bundesrepublik Deutschland unter Ausschluss der Gesetze über den internationalen Kauf beweglicher Waren. Bei Verbrauchern gilt diese Rechtswahl nur insoweit, als nicht der gewährte Schutz durch zwingende Bestimmungen des Rechts des Staates, in dem der Verbraucher seinen gewöhnlichen Aufenthalt hat, entzogen wird.
          p
            b 8.2
            | Die Vertragssprache ist Deutsch.
          h1 B. Kundeninformationen
          h2 1) Informationen zur Identität des Verkäufers
          p
            | Christopher Heinecke
            br
            | Bugwelder
          p
            | Strichweg 35
            br
            | 27472 Cuxhaven
            br
            | Deutschland
          p
            | Tel.: +49 (0)4721/ 39 69 02
            br
            | Fax: +49 (0)4721/ 39 69 05
            br
            | E-Mail: info@bugwelder.com
          p Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE243667612
          h2 2) Informationen zu den wesentlichen Merkmalen der Ware oder Dienstleistung
          p
            | Die wesentlichen Merkmale der Ware oder Dienstleistung ergeben sich aus der jeweiligen vom Verkäufer bei eBay eingestellten Produktbeschreibung.
          h2 3) Informationen zum Zustandekommen des Vertrages
          p
            | Das Zustandekommen des Vertrages bei eBay erfolgt nach Maßgabe der Ziffer 2 der Allgemeinen Geschäftsbedingungen des Verkäufers (siehe oben).
          h2 4) Informationen zu Zahlung und Lieferung
          p
            | Die Zahlung erfolgt nach Maßgabe der Ziffer 4 der Allgemeinen Geschäftsbedingungen des Verkäufers (siehe oben) in Verbindung mit den Angaben zu den Zahlungsmöglichkeiten auf der jeweiligen Angebotsseite des Verkäufers bei eBay. Die Lieferung erfolgt nach Maßgabe der Ziffer 5 der Allgemeinen Geschäftsbedingungen des Verkäufers (siehe oben).
          h2
            | 5) Informationen über die technischen Schritte, die zu einem Vertragsschluss führen
          p
            | Um einen Vertrag über eBay abzuschließen, stehen vier unterschiedliche Verfahren zur Auswahl. Diese sind das Auktionsverfahren (5.1), das &bdquo;Angebot an unterlegene Bieter”- Verfahren (5.2), das &bdquo;Sofort-Kaufen”-Verfahren (5.3) und das &bdquo;Preis-Vorschlagen”- Verfahren (5.4). Bei jedem Verfahren führen die Schritte von Antrag und Annahme zum Vertragsschluss. Der Kunde muss sich als Mitglied bei eBay angemeldet haben oder neu anmelden.
          h3
            b 5.1)
            | Auktionsverfahren
          p
            b 5.1.1
            | Der Antrag liegt im Einstellen der Ware auf eBay durch den Verkäufer zum Verkauf im Wege des Auktionsverfahrens.
          p
            b 5.1.2
            | Die Annahme liegt in der Abgabe des im Zeitpunkt der Beendigung der Auktion höchsten Gebots durch den Kunden. Folgende Schritte führen zur Abgabe eines Gebotes:
          p
            b 5.1.3
            | Im ersten Schritt gibt der Kunde auf der Seite des Angebots des Verkäufers in das Eingabefeld &bdquo;Ihr Maximalangebot: EUR” den Betrag seines Maximalangebots ein.
          p
            b 5.1.4
            | Im zweiten Schritt klickt der Kunde auf die Taste &bdquo;Bieten”. Ist der Kunde noch nicht auf der Webseite von eBay eingeloggt, öffnet sich eine neue Seite, auf der er sich in einem Zwischenschritt einloggen muss. War er bereits eingeloggt oder nach dem Zwischenschritt des Einloggens, öffnet sich eine neue Seite, welche die wesentlichen Merkmale des Angebots sowie die des Gebots des Kunden zusammenfasst.
          p
            b 5.1.5
            | Im dritten Schritt klickt der Kunde auf die Taste &bdquo;Gebot bestätigen”. Danach ist das Gebot bindend und nicht mehr korrigierbar.
          p
            b 5.1.6
            | Ist der Kunde im Zeitpunkt der Beendigung der Auktion der Höchstbietende, wird er von eBay durch eine E-Mail an seine bei eBay hinterlegte E-Mail-Adresse hierüber informiert.
          h3
            b 5.2)
            | &bdquo;Angebot an unterlegene Bieter”-Verfahren
          p
            b 5.2.1
            | Der Antrag liegt im Anbieten der Ware über eBay durch den Verkäufer an den Kunden zum Verkauf im Wege des &bdquo;Angebot an unterlegene Bieter”-Verfahrens. Der Kunde erhält das Angebot als Nachricht mit dem Betreff &bdquo;Angebot an unterlegene Bieter” per E-Mail an seine bei eBay hinterlegte E-Mail-Adresse und in der Unterkategorieseite &bdquo;Meine Nachrichten” auf der Seite &bdquo;Mein eBay”.
          p
            b 5.2.2
            | Ist der Kunde im Zeitpunkt der Beendigung der Auktion der Höchstbietende, wird er von eBay durch eine E-Mail an seine bei eBay hinterlegte E-Mail-Adresse hierüber informiert.
          p
            b 5.2.3
            | Folgende Schritte führen innerhalb der vom Verkäufer gesetzten und in der Nachricht an den Kunden angezeigten Frist zur Annahme:
          p
            b 5.2.4
            | Im ersten Schritt klickt der Kunde in der an ihn gesendeten Nachricht auf den Link &bdquo;Artikel aufrufen” oder auf die Taste &bdquo;Jetzt antworten”.
          p
            b 5.2.5
            | Es öffnet sich sodann eine neue Seite, auf welcher der Kunde in einem zweiten Schritt auf die Taste &bdquo;Sofort-Kaufen” klickt. Ist der Kunde noch nicht auf der Webseite eingeloggt, öffnet sich eine neue Seite, auf der er sich in einem Zwischenschritt einloggen muss. War er bereits eingeloggt oder nach dem Zwischenschritt des Einloggens, öffnet sich eine neue Seite, welche die wesentlichen Merkmale des Angebots zusammenfasst.
          h3
            b 5.3)
            | &bdquo;Sofort-Kaufen”-Verfahren
          p
            b 5.3.1
            | Der Antrag liegt im Einstellen der Ware auf eBay durch den Verkäufer zum Verkauf im Wege des &bdquo;Sofort-Kaufen”-Verfahrens.
          p
            b 5.3.2
            | Folgende Schritte führen zur Annahme:
          p
            b 5.3.3
            | Im ersten Schritt klickt der Kunde auf der Seite des Angebots des Verkäufers auf die Taste &bdquo;Sofort-Kaufen”. Ist der Kunde noch nicht auf der Webseite eingeloggt, öffnet sich eine neue Seite, auf der er sich in einem Zwischenschritt einloggen muss. War er bereits eingeloggt oder nach dem Zwischenschritt des Einloggens, öffnet sich eine neue Seite, welche die wesentlichen Merkmale des Angebots zusammenfasst.
          p
            b 5.3.4
            | Im zweiten Schritt klickt der Kunde auf die Taste &bdquo;Kaufen”. Danach ist die Kauferklärung bindend und nicht mehr korrigierbar.
          h3
            b 5.4)
            | &bdquo;Preis-Vorschlagen”-Verfahren
          p
            b 5.4.1
            | Der Antrag erfolgt wie nachstehend dargestellt:
          p
            b 5.4.2
            | Im ersten Schritt klickt der Kunde auf der Seite des Angebots des Verkäufers auf die Taste &bdquo;Preis vorschlagen”. Ist der Kunde noch nicht auf der Webseite eingeloggt, öffnet sich eine neue Seite, auf der er sich in einem Zwischenschritt einloggen muss. War er bereits eingeloggt oder nach dem Zwischenschritt des Einloggens, öffnet sich eine neue Seite, welche die wesentlichen Merkmale des Angebots zusammenfasst.
          p
            b 5.4.3
            | Im zweiten Schritt gibt der Kunde in das Eingabefeld &bdquo;Ihr Preisvorschlag: EUR pro Artikel” den Betrag seines Preisvorschlags ein.
          p
            b 5.4.4
            | Im dritten Schritt klickt der Kunde auf die Taste &bdquo;Preisvorschlag überprüfen”. Danach öffnet sich eine neue Seite, welche die wesentlichen Merkmale des Angebots und den Preisvorschlag des Kunden zusammenfasst.
          p
            b 5.4.5
            | Im vierten Schritt klickt der Kunde auf die Taste &bdquo;Preisvorschlag senden”. Dies ist die Abgabe des Antrags des Kunden an den Verkäufer. Danach ist die Abgabe eines Preisvorschlags bindend und nicht mehr korrigierbar.
          p
            b 5.4.6
            | Die Annahme erfolgt wie nachstehend dargestellt:
          p
            b 5.4.7
            | Je nach den vom Verkäufer getroffenen Voreinstellungen, kann der Preisvorschlag des Kunden im fünften Schritt sofort angenommen (5.4.2.1.1), sofort abgelehnt (5.4.2.1.2) oder überdacht (5.4.2.1.3), das heißt innerhalb der auf der Seite angezeigten Frist von maximal 48 Stunden angenommen, abgelehnt oder durch einen Gegenvorschlag abgelehnt, werden.
          p
            b 5.4.8
            | Im Falle der sofortigen Annahme öffnet sich eine neue Seite, auf der dem Kunden bestätigt wird, dass sein Preisvorschlag angenommen wurde.
          p
            b 5.4.9
            | Im Falle der sofortigen Ablehnung öffnet sich eine neue Seite, auf der dem Kunden bestätigt wird, dass sein Preisvorschlag abgelehnt wurde. Der Kunde kann dann einen neuen Preisvorschlag abgeben, in dem er auf die Taste &bdquo;Neuen Preisvorschlag senden” klickt. Dies ist die Abgabe eines neuen Antrags durch den Kunden. Es öffnet sich eine neue Seite und das Verfahren läuft erneut, wie oben beschrieben, ab dem zweiten Schritt ab.
          p
            b 5.4.10
            | Im Falle, dass der Verkäufer den Preisvorschlag überdenkt, öffnet sich eine neue Seite, auf der dem Kunden bestätigt wird, dass sein Preisvorschlag gesendet wurde. Der Verkäufer kann dies nun innerhalb der auf der Seite angezeigten Frist von maximal 48 Stunden annehmen, ablehnen oder durch einen Gegenvorschlag ablehnen. Die Entscheidung des Verkäufers kann der Kunde unter &bdquo;Meine Nachrichten”, &bdquo;Mein eBay” oder seiner &bdquo;Preisvorschlags-Seite” aufrufen.
          p
            b 5.4.11
            | Nimmt der Verkäufer den Preisvorschlag an, ist der Vertrag zustande gekommen.
          p
            b 5.4.12
            | Lehnt der Verkäufer ihn ab, kann der Kunde einen neuen Preisvorschlag abgeben, in dem er auf die Taste &bdquo;Neuen Preisvorschlag senden” klickt. Dies ist die Abgabe eines neuen Antrags durch den Kunden. Es öffnet sich eine neue Seite und das Verfahren läuft erneut, wie oben beschrieben, ab dem zweiten Schritt ab.
          p
            b 5.4.13
            | Lehnt der Verkäufer den Preisvorschlag durch einen Gegenvorschlag ab, liegt in diesem Preisvorschlag ein neuer Antrag durch den Verkäufer.
          p
            b 5.4.14
            | Der Kunde hat nun im sechsten Schritt die Möglichkeit, den Gegenvorschlag der auf der Seite angezeigten Frist von maximal 48 Stunden anzunehmen, abzulehnen oder durch einen Gegenvorschlag abzulehnen.
          p
            b 5.4.15
            | Der Kunde kann den Gegenvorschlag durch ein Klicken auf &bdquo;Preisvorschlag annehmen” annehmen, wodurch der Vertrag zustande kommt.
          p
            b 5.4.16
            | Der Kunde kann den Gegenvorschlag durch einen Gegenvorschlag ablehnen, indem er auf &bdquo;Gegenvorschlag senden” klickt. Dies ist die Abgabe eines neuen Antrags durch den Kunden. Es öffnet sich eine neue Seite und das Verfahren läuft erneut, wie oben beschrieben, ab dem zweiten Schritt ab.
          h2 6) Informationen zur Speicherung des Vertragstextes
          p
            | Der Vertragstext wird vom Verkäufer gespeichert und dem Kunden nach Vertragsschluss nebst den vorliegenden AGB und Kundeninformationen in Textform (z. B. E-Mail, Fax oder Brief) zugeschickt. Zusätzlich wird der Vertragstext bei eBay archiviert und kann vom Kunden unter Angabe der entsprechenden Artikelnummer für die Dauer von 90 Tagen nach Vertragsschluss unter www.ebay.de kostenlos abgerufen werden. Zur Anzeige der Artikelseite mit dem Vertragstext kann der Kunde die zugehörige Artikelnummer in das auf der eBay-Startseite vorhandene Suchfeld eingeben und auf den Button &bdquo;Finden” klicken.
          h2
            | 7) Informationen über die technischen Mittel um Eingabefehler zu erkennen und zu berichtigen
          p
            | In allen oben genannten Verfahren kann der Kunde seine Eingaben wie folgt erkennen, überprüfen und korrigieren:
          p
            | Nach Anklicken des Eingabe-Buttons (z. B. &bdquo;Bieten”, &bdquo;Sofort-Kaufen”, &bdquo;Preis vorschlagen”, &bdquo;Preisvorschlag überprüfen” oder &bdquo;Neuen Preisvorschlag senden”) kann der Kunde seine Eingaben auf der nachfolgenden Bestätigungsseite nochmals überprüfen. Möchte er nun seine Eingaben korrigieren, kann er entweder durch Anklicken des &bdquo;Zurück”-Buttons seines Browsers auf die eBay-Artikelseite zurückwechseln oder den Vorgang durch Schließen des Browserfensters abbrechen und die eBay-Artikelseite später erneut aufrufen. Die gewünschten Korrekturen können dann wieder mittels der üblichen Tastatur- und Mausfunktionen in den entsprechenden Eingabefeldern erfolgen.
          h2
            | 8) Informationen über die für den Vertragsschluss zur Verfügung stehenden Sprachen
          p Für den Vertragsschluss steht ausschließlich die deutsche Sprache zur Verfügung.
          h2 9) Informationen zum Datenschutz
          p
            b 9.1
            | Personenbezogene Daten werden nur erhoben, wenn sie der Kunde dem Verkäufer von sich aus zur Vertragsabwicklung oder bei der Anmeldung zum E-Mail-Newsletter zur Verfügung stellt. Die bei dieser Gelegenheit eingegebenen personenbezogenen Daten werden zur Vertragsabwicklung sowie zur Bearbeitung der Anfragen des Kunden genutzt.
          p
            b 9.2
            | Die E-Mailadresse des Kunden wird ausschließlich für eigene Werbezwecke genutzt, sofern der Kunde ausdrücklich eingewilligt hat. Der Kunde kann seine Einwilligung gegenüber dem Verkäufer jederzeit widerrufen.
          p
            b 9.3
            | Die personenbezogenen Daten des Kunden werden im Rahmen der Vertragsabwicklung an das mit der Lieferung beauftragte Transportunternehmen weitergegeben, soweit dies zur Lieferung der Ware erforderlich ist. Für die Abwicklung von Zahlungen werden die Zahlungsdaten ggf. an das mit der Zahlung beauftragte Kreditinstitut weitergegeben.
          p
            b 9.4
            | Nach vollständiger Abwicklung des Vertrages und vollständiger Kaufpreisbezahlung werden die Daten des Kunden mit Rücksicht auf steuer- und handelsrechtliche Aufbewahrungsfristen gespeichert, nach Ablauf dieser Fristen jedoch gelöscht, sofern der Kunde in die weitere Verwendung seiner Daten nicht ausdrücklich eingewilligt hat.
          p
            b 9.5
            | Der Kunde hat ein Recht auf unentgeltliche Auskunft über seine gespeicherten Daten sowie ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Er kann sich bei Fragen zur Erhebung, Verarbeitung oder Nutzung seiner personenbezogenen Daten unentgeltlich an den Verkäufer wenden.
