img(style="max-width: 100%;", src="#{source_url}/images/New-products_van_k.png")
.panel.panel-bgw
  .panel-heading
      h3.panel-title
        i.icon-truck
        | Lieferung
    .panel-body
      h1 Wir versenden standardmäßig nur in die unten aufgeführten Länder.
      p
        | Je nach Umfang Ihrer Bestellung erfolgt der Versand per DPD, DHL oder per Spedition.
      p
        | Die jeweils anfallenden Versandkosten können Sie der unten angegebenen Tabelle entnehmen.
      p
        | Sollten Sie den Versand in ein anderes Land wünschen, dann schreiben Sie uns bitte eine Email (inf@bugwelder.com) und nennen Sie uns bitte den Artikel mit der Menge und der Lieferadresse mit dem Land und der entsprechenden Postleitzahl. Wir werden Ihnen dann kurzfristig mitteilen, ob wir auch in das gewünschte Land versenden können und Ihnen ggf. die Versandkosten mitteilen, da wir die Versandmöglichkeit und die Kosten vorab bei unserem Versandpartner erfragen müssen.
      p
        strong I. Versand innerhalb Deutschlands:
      table.table.table-hover(cellspacing='0', cols='5', border='0')
        colgroup(width='156')
        colgroup(width='106')
        colgroup(width='119')
        colgroup(width='220')
        colgroup(width='347')
        thead
          tr
            th(height='16', align='LEFT') Zielland
            th(height='16', align='LEFT') Versandgewicht
            th(height='16', align='LEFT') Warenwert
            th(height='16', align='LEFT') Versandkosten gesetzlicher MwSt.
            th(height='16', align='LEFT') Versandart
        tbody
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 5.50 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 6.50 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 6.90 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 7.50 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 8.90 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 14.40 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 15.40 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 15.90 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 17.40 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 17.90 €
            td(align='LEFT') Standardversand
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 21.00 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 22.00 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 22.40 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 23.00 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 25.40 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 45.40 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 46.40 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 46.90 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 48.40 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 48.90 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') Bis 40 kg
            td(align='LEFT')
            td(align='LEFT') 40.00 €
            td(align='LEFT') Großpaketversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 40 -50 kg
            td(align='LEFT')
            td(align='LEFT') 45.00 €
            td(align='LEFT') Großpaketversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 50 – 60 kg
            td(align='LEFT')
            td(align='LEFT') 49.00 €
            td(align='LEFT') Großpaketversand
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') Bis 40 kg
            td(align='LEFT')
            td(align='LEFT') 53.00 €
            td(align='LEFT') Großpaketversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 40 -50 kg
            td(align='LEFT')
            td(align='LEFT') 58.00 €
            td(align='LEFT') Großpaketversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 50 – 60 kg
            td(align='LEFT')
            td(align='LEFT') 63.00 €
            td(align='LEFT') Großpaketversand inc. Inselzuschlag
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 6.70 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 7.70 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 8.10 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 8.70 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 29.20 €
            td(align='LEFT') Samstagszustellung
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 10.10 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 16.80 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 17.80 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 18.30 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 19.80 €
            td(align='LEFT') Standardversand
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 20.30 €
            td(align='LEFT') Standardversand
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 23.40 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 24.40 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 24.80 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 25.40 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 27.80 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 47.80 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 48.80 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 49.30 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 50.80 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='17', align='LEFT') Deutschland
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 51.30 €
            td(align='LEFT') Standardversand inc. Inselzuschlag
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') Bis 150 kg
            td(align='LEFT')
            td(align='LEFT') 95.00 €
            td(align='LEFT') Spedition
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') Bis 250 kg
            td(align='LEFT')
            td(align='LEFT') 150.00 €
            td(align='LEFT') Spedition
          tr
            td(height='16', align='LEFT') Deutschland
            td(align='LEFT') Bis 350 kg
            td(align='LEFT')
            td(align='LEFT') 175.00 €
            td(align='LEFT') Spedition
      p
        | Bei Nachnahmeversand berechnen wir einen Nachnahmezuschlag in Höhe von 7,50 Euro.
      p
        strong II. Versand ins Ausland
      p Wir liefern in folgende Länder:
      table.table.table-hover(cellspacing='0', cols='5', border='0')
        colgroup(width='200px')
        colgroup(width='100px')
        colgroup(width='119')
        colgroup(width='220')
        colgroup(width='347')
        thead
          tr
            th(height='16', align='LEFT') Zielland
            th(height='16', align='LEFT') Versandgewicht
            th(height='16', align='LEFT') Warenwert
            th(height='16', align='LEFT') Versandkosten gesetzlicher MwSt.
            th(height='16', align='LEFT') Versandart
        tbody
          tr
            td(height='16', align='LEFT') Belgien, Luxemburg
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 13.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Belgien, Luxemburg
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 15.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Belgien, Luxemburg
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 17.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Belgien, Luxemburg
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 19.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Belgien, Luxemburg
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 25.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Belgien, Luxemburg
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 38.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Belgien, Luxemburg
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 40.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Belgien, Luxemburg
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 42.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Belgien, Luxemburg
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 44.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Belgien, Luxemburg
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 50.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Bulgarien
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 35.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Bulgarien
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 41.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Bulgarien
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 43.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Bulgarien
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 45.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Bulgarien
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 50.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Bulgarien
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 85.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Bulgarien
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 91.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Bulgarien
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 93.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Bulgarien
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 95.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Bulgarien
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 100.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Litauen, Lettland
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 33.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Litauen, Lettland
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 34.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Litauen, Lettland
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 35.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Litauen, Lettland
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 36.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Litauen, Lettland
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 37.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Litauen, Lettland
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 70.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Litauen, Lettland
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 71.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Litauen, Lettland
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 72.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Litauen, Lettland
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 72.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Litauen, Lettland
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 75.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Estland
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 33.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Estland
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 34.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Estland
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 35.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Estland
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 36.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Estland
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 37.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Estland
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 70.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Estland
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 71.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Estland
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 72.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Estland
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 72.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Estland
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 75.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Estland
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 48.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Estland
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 49.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Estland
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 50.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Estland
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 51.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Estland
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 53.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Estland
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 101.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Estland
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 102.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Estland
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 103.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Estland
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 105.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Estland
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 107.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='16', align='LEFT') Dänemark
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 15.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Dänemark
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 16.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Dänemark
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 18.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Dänemark
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 21.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Dänemark
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 26.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Dänemark
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 41.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Dänemark
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 58.40 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Dänemark
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 60.40 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Dänemark
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 48.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Dänemark
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 53.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Dänemark
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 30.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Dänemark
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 31.90 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Dänemark
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 33.90 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Dänemark
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 37.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Dänemark
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 42.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Dänemark
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 72.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Dänemark
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 73.90 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Dänemark
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 75.90 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Dänemark
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 77.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='16', align='LEFT') Dänemark
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 84.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='16', align='LEFT') Finland
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 35.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Finland
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 38.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Finland
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 43.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 47.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 55.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 90.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 93.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 98.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 103.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 110.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 62.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 64.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 70.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 73.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 81.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 143.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 146.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 151.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 155.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Finland
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 163.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 19.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 21.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 23.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 25.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 30.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 50.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 52.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 53.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 55.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 61.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 35.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 37.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 38.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 40.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 46.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 81.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 83.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 84.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 86.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Frankreichnkreich & Monaco
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 92.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='17', align='LEFT') Großbritanien
            td(align='LEFT') *
            td(align='LEFT') Bis 65.00 €
            td(align='LEFT') 12.50 €
            td(align='LEFT') Nightfreight
          tr
            td(height='17', align='LEFT') Großbritanien
            td(align='LEFT') *
            td(align='LEFT') 65.00€ – 135.00 €
            td(align='LEFT') 15.50 €
            td(align='LEFT') Nightfreight
          tr
            td(height='17', align='LEFT') Großbritanien
            td(align='LEFT') *
            td(align='LEFT') Ab 135.00€
            td(align='LEFT') 23.50 €
            td(align='LEFT') Nightfreight
          tr
            td(height='17', align='LEFT') Großbritanien
            td(align='LEFT') *
            td(align='LEFT') Bis 65.00 €
            td(align='LEFT') 14.50 €
            td(align='LEFT') Nightfreight
          tr
            td(height='17', align='LEFT') Großbritanien
            td(align='LEFT') *
            td(align='LEFT') 65.00€ – 135.00 €
            td(align='LEFT') 17.50 €
            td(align='LEFT') Nightfreight
          tr
            td(height='17', align='LEFT') Großbritanien
            td(align='LEFT') *
            td(align='LEFT') Ab 135.00€
            td(align='LEFT') 26.50 €
            td(align='LEFT') Nightfreight
          tr
            td(height='17', align='LEFT') Großbritanien
            td(align='LEFT') Grosse Teile
            td(align='LEFT') Hauben, Kotflügel
            td(align='LEFT') 45.00 €
            td(align='LEFT') Courier
          tr
            td(height='17', align='LEFT') Großbritanien
            td(align='LEFT') Grosse Teile
            td(align='LEFT') Hauben, Kotflügel
            td(align='LEFT') 45.00 €
            td(align='LEFT') Courier
          tr
            td(height='16', align='LEFT') Irland
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 32.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Irland
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 34.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Irland
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 38.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Irland
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 44.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Irland
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 53.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Irland
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 85.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Irland
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 87.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Irland
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 91.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Irland
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 97.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Irland
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 106.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Österreich
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 14.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Österreich
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 16.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Österreich
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 18.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Österreich
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 20.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Österreich
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 25.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Österreich
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 35.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Österreich
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 37.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Österreich
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 39.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Österreich
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 45.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Österreich
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 50.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Polen
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 27.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Polen
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 29.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Polen
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 32.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Polen
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 34.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Polen
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 38.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Polen
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 65.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Polen
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 68.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Polen
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 70.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Polen
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 72.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Polen
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 77.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 35.50 €
            td(align='LEFT') DPD Standard Shipping
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 38.00 €
            td(align='LEFT') DPD Standard Shipping
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 43.50 €
            td(align='LEFT') DPD Standard Shipping
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 47.00 €
            td(align='LEFT') DPD Standard Shipping
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 55.00 €
            td(align='LEFT') DPD Standard Shipping
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 90.50 €
            td(align='LEFT') DPD Standard Shipping
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 93.00 €
            td(align='LEFT') DPD Standard Shipping
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 98.50 €
            td(align='LEFT') DPD Standard Shipping
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 103.00 €
            td(align='LEFT') DPD Standard Shipping
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 110.00 €
            td(align='LEFT') DPD Standard Shipping
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 62.00 €
            td(align='LEFT') DPD Standard Shipping Isle
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 64.50 €
            td(align='LEFT') DPD Standard Shipping Isle
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 70.00 €
            td(align='LEFT') DPD Standard Shipping Isle
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 73.50 €
            td(align='LEFT') DPD Standard Shipping Isle
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 81.50 €
            td(align='LEFT') DPD Standard Shipping Isle
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 143.50 €
            td(align='LEFT') DPD Standard Shipping Isle
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 146.00 €
            td(align='LEFT') DPD Standard Shipping Isle
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 151.50 €
            td(align='LEFT') DPD Standard Shipping Isle
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 155.00 €
            td(align='LEFT') DPD Standard Shipping Isle
          tr
            td(height='17', align='LEFT') Portugal
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 163.00 €
            td(align='LEFT') DPD Standard Shipping Isle
          tr
            td(height='16', align='LEFT') Rumänien
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 28.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Rumänien
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 30.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Rumänien
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 34.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Rumänien
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 37.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Rumänien
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 42.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Rumänien
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 71.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Rumänien
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 74.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Rumänien
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 78.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Rumänien
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 79.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Rumänien
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 85.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovakei
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 31.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovakei
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 33.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovakei
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 36.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovakei
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 39.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovakei
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 45.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovakei
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 77.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovakei
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 79.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovakei
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 82.40 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovakei
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 85.40 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovakei
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 91.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovenien
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 21.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovenien
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 22.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovenien
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 23.90 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovenien
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 26.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovenien
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 31.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovenien
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 53.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovenien
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 54.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovenien
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 55.40 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovenien
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 58.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='17', align='LEFT') Slovenien
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 63.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Tschechien
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 19.70 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Tschechien
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 20.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Tschechien
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 22.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Tschechien
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 25.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Tschechien
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 26.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Tschechien
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 46.20 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Tschechien
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 47.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Tschechien
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 49.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Tschechien
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 52.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Tschechien
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 53.00 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Ungarn
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 26.80 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Ungarn
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 27.60 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Ungarn
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 28.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Ungarn
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 30.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Ungarn
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 33.70 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Ungarn
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 60.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Ungarn
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 61.30 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Ungarn
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 62.20 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Ungarn
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 64.20 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Ungarn
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 67.40 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 26.80 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 27.60 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 28.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 30.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 33.70 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 60.50 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 61.30 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 62.20 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 64.20 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 67.40 €
            td(align='LEFT') DPD Standard
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 42.30 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 5 – 10 kg
            td(align='LEFT')
            td(align='LEFT') 43.10 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 10 – 15kg
            td(align='LEFT')
            td(align='LEFT') 44.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 15 – 20kg
            td(align='LEFT')
            td(align='LEFT') 46.00 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 20 – 31.5kg
            td(align='LEFT')
            td(align='LEFT') 49.20 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 31.5 – 36.5kg
            td(align='LEFT')
            td(align='LEFT') 91.50 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 36.5 – 41.5kg
            td(align='LEFT')
            td(align='LEFT') 92.30 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 41.5 – 46.5kg
            td(align='LEFT')
            td(align='LEFT') 93.20 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 46.5 – 51.5kg
            td(align='LEFT')
            td(align='LEFT') 95.20 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='16', align='LEFT') Schweden
            td(align='LEFT') 51 – 63 kg
            td(align='LEFT')
            td(align='LEFT') 98.40 €
            td(align='LEFT') DPD Standard Isle
          tr
            td(height='16', align='LEFT')
              | Belgien, Bulgarien, Dänemark, Estland, Finland, Frankreich, Griechenland, Großbritanien, Irland, Italien, Litauen, Lettland, Luxemburg, Malta, Monaco, Niederlande, Österreich, Polen, Portugal, Rumänien, Schweden, Slovakei, Slovenien, Tschechien, Ungarn, Zypern
            td(align='LEFT') Bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 18.50 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT')
              | Belgien, Bulgarien, Dänemark, Estland, Finland, Frankreich, Griechenland, Großbritanien, Irland, Italien, Litauen, Lettland, Luxemburg, Malta, Monaco, Niederlande, Österreich, Polen, Portugal, Rumänien, Schweden, Slovakei, Slovenien, Tschechien, Ungarn, Zypern
            td(align='LEFT') 5 -10 kg
            td(align='LEFT')
            td(align='LEFT') 23.50 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT')
              | Belgien, Bulgarien, Dänemark, Estland, Finland, Frankreich, Griechenland, Großbritanien, Irland, Italien, Litauen, Lettland, Luxemburg, Malta, Monaco, Niederlande, Österreich, Polen, Portugal, Rumänien, Schweden, Slovakei, Slovenien, Tschechien, Ungarn, Zypern
            td(align='LEFT') 10 - 20 kg
            td(align='LEFT')
            td(align='LEFT') 33.50 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT')
              | Belgien, Bulgarien, Dänemark, Estland, Finland, Frankreich, Griechenland, Großbritanien, Irland, Italien, Litauen, Lettland, Luxemburg, Malta, Monaco, Niederlande, Österreich, Polen, Portugal, Rumänien, Schweden, Slovakei, Slovenien, Tschechien, Ungarn, Zypern
            td(align='LEFT') 20 – 31.5 kg
            td(align='LEFT')
            td(align='LEFT') 43.50 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT')
              | Andorra, Albanien, Weissrussland, Bosnien & Herzegowina, Faröer Inseln, Georgien, Gibraltar, Grönland, Island, Kroatien, Lichtenstein, Montenegro, Norwegen, Schweiz, Moldavien , Russland, San Marino, Serbien, Türkei, Ukraine
            td(align='LEFT') Bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 31.00 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT')
              | Andorra, Albanien, Weissrussland, Bosnien & Herzegowina, Faröer Inseln, Georgien, Gibraltar, Grönland, Island, Kroatien, Lichtenstein, Montenegro, Norwegen, Schweiz, Moldavien , Russland, San Marino, Serbien, Türkei, Ukraine
            td(align='LEFT') 5 -10 kg
            td(align='LEFT')
            td(align='LEFT') 36.00 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT')
              | Andorra, Albanien, Weissrussland, Bosnien & Herzegowina, Faröer Inseln, Georgien, Gibraltar, Grönland, Island, Kroatien, Lichtenstein, Montenegro, Norwegen, Schweiz, Moldavien , Russland, San Marino, Serbien, Türkei, Ukraine
            td(align='LEFT') 10 - 20 kg
            td(align='LEFT')
            td(align='LEFT') 46.00 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT')
              | Andorra, Albanien, Weissrussland, Bosnien & Herzegowina, Faröer Inseln, Georgien, Gibraltar, Grönland, Island, Kroatien, Lichtenstein, Montenegro, Norwegen, Schweiz, Moldavien , Russland, San Marino, Serbien, Türkei, Ukraine
            td(align='LEFT') 20 – 31.5 kg
            td(align='LEFT')
            td(align='LEFT') 56.00 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT')
              | Ägypten, Algerien, Armenien, Azerbaijan, Israel, Jordanien, Kanada, Kasachstan, Libanon, Libyen, Marocco, Palistinänser Gebiete, Tunesien, Vereinigte Staaten von Amerika
            td(align='LEFT') Bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 37.00 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT')
              | Ägypten, Algerien, Armenien, Azerbaijan, Israel, Jordanien, Kanada, Kasachstan, Libanon, Libyen, Marocco, Palistinänser Gebiete, Tunesien, Vereinigte Staaten von Amerika
            td(align='LEFT') 5 -10 kg
            td(align='LEFT')
            td(align='LEFT') 48.00 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT')
              | Ägypten, Algerien, Armenien, Azerbaijan, Israel, Jordanien, Kanada, Kasachstan, Libanon, Libyen, Marocco, Palistinänser Gebiete, Tunesien, Vereinigte Staaten von Amerika
            td(align='LEFT') 10 - 20 kg
            td(align='LEFT')
            td(align='LEFT') 69.00 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT')
              | Ägypten, Algerien, Armenien, Azerbaijan, Israel, Jordanien, Kanada, Kasachstan, Libanon, Libyen, Marocco, Palistinänser Gebiete, Tunesien, Vereinigte Staaten von Amerika
            td(align='LEFT') 20 – 31.5 kg
            td(align='LEFT')
            td(align='LEFT') 90.00 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT') Japan, Indonesien, Südafrika
            td(align='LEFT') Bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 43.00 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT') Japan, Indonesien, Südafrika
            td(align='LEFT') 5 -10 kg
            td(align='LEFT')
            td(align='LEFT') 60.00 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT') Japan, Indonesien, Südafrika
            td(align='LEFT') 10 - 20 kg
            td(align='LEFT')
            td(align='LEFT') 92.00 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT') Japan, Indonesien, Südafrika
            td(align='LEFT') 20 – 31.5 kg
            td(align='LEFT')
            td(align='LEFT') 124.00 €
            td(align='LEFT') DHL Standard
          tr
            td(height='16', align='LEFT')
              | Andorra, Albanien, Weissrussland, Bosnien & Herzegowina, Faröer Inseln, Georgien, Gibraltar, Grönland, Island, Kroatien, Lichtenstein, Montenegro, Norwegen, Schweiz, Moldavien , Russland, San Marino, Serbien, Türkei, Ukraine
            td(align='LEFT') Bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 39.50 €
            td(align='LEFT') DHL Standard Premium
          tr
            td(height='16', align='LEFT')
              | Andorra, Albanien, Weissrussland, Bosnien & Herzegowina, Faröer Inseln, Georgien, Gibraltar, Grönland, Island, Kroatien, Lichtenstein, Montenegro, Norwegen, Schweiz, Moldavien , Russland, San Marino, Serbien, Türkei, Ukraine
            td(align='LEFT') 5 -10 kg
            td(align='LEFT')
            td(align='LEFT') 48.00 €
            td(align='LEFT') DHL Standard Premium
          tr
            td(height='16', align='LEFT')
              | Andorra, Albanien, Weissrussland, Bosnien & Herzegowina, Faröer Inseln, Georgien, Gibraltar, Grönland, Island, Kroatien, Lichtenstein, Montenegro, Norwegen, Schweiz, Moldavien , Russland, San Marino, Serbien, Türkei, Ukraine
            td(align='LEFT') 10 - 20 kg
            td(align='LEFT')
            td(align='LEFT') 65.00 €
            td(align='LEFT') DHL Standard Premium
          tr
            td(height='16', align='LEFT')
              | Andorra, Albanien, Weissrussland, Bosnien & Herzegowina, Faröer Inseln, Georgien, Gibraltar, Grönland, Island, Kroatien, Lichtenstein, Montenegro, Norwegen, Schweiz, Moldavien , Russland, San Marino, Serbien, Türkei, Ukraine
            td(align='LEFT') 20 – 31.5 kg
            td(align='LEFT')
            td(align='LEFT') 82.00 €
            td(align='LEFT') DHL Standard Premium
          tr
            td(height='16', align='LEFT')
              | Ägypten, Algerien, Armenien, Azerbaijan, Israel, Jordanien, Kanada, Kasachstan, Libanon, Libyen, Marocco, Palistinänser Gebiete, Tunesien, Vereinigte Staaten von Amerika
            td(align='LEFT') Bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 55.00 €
            td(align='LEFT') DHL Standard Premium
          tr
            td(height='16', align='LEFT')
              | Ägypten, Algerien, Armenien, Azerbaijan, Israel, Jordanien, Kanada, Kasachstan, Libanon, Libyen, Marocco, Palistinänser Gebiete, Tunesien, Vereinigte Staaten von Amerika
            td(align='LEFT') 5 -10 kg
            td(align='LEFT')
            td(align='LEFT') 84.00 €
            td(align='LEFT') DHL Standard Premium
          tr
            td(height='16', align='LEFT')
              | Ägypten, Algerien, Armenien, Azerbaijan, Israel, Jordanien, Kanada, Kasachstan, Libanon, Libyen, Marocco, Palistinänser Gebiete, Tunesien, Vereinigte Staaten von Amerika
            td(align='LEFT') 10 - 20 kg
            td(align='LEFT')
            td(align='LEFT') 140.00 €
            td(align='LEFT') DHL Standard Premium
          tr
            td(height='16', align='LEFT')
              | Ägypten, Algerien, Armenien, Azerbaijan, Israel, Jordanien, Kanada, Kasachstan, Libanon, Libyen, Marocco, Palistinänser Gebiete, Tunesien, Vereinigte Staaten von Amerika
            td(align='LEFT') 20 – 31.5 kg
            td(align='LEFT')
            td(align='LEFT') 196.00 €
            td(align='LEFT') DHL Standard Premium
          tr
            td(height='16', align='LEFT') Japan, Indonesien, Südafrika
            td(align='LEFT') Bis 5 kg
            td(align='LEFT')
            td(align='LEFT') 67.00 €
            td(align='LEFT') DHL Standard Premium
          tr
            td(height='16', align='LEFT') Japan, Indonesien, Südafrika
            td(align='LEFT') 5 -10 kg
            td(align='LEFT')
            td(align='LEFT') 108.00 €
            td(align='LEFT') DHL Standard Premium
          tr
            td(height='16', align='LEFT') Japan, Indonesien, Südafrika
            td(align='LEFT') 10 - 20 kg
            td(align='LEFT')
            td(align='LEFT') 186.00 €
            td(align='LEFT') DHL Standard Premium
          tr
            td(height='16', align='LEFT') Japan, Indonesien, Südafrika
            td(align='LEFT') 20 – 31.5 kg
            td(align='LEFT')
            td(align='LEFT') 264.00 €
            td(align='LEFT') DHL Standard Premium
      p
        | Bei Lieferungen in Länder außerhalb der Europäischen Union können im Einzelfall weitere Kosten anfallen, die wir nicht zu vertreten haben und die von Ihnen zu tragen sind. Hierzu zählen beispielsweise Kosten für die Geldübermittlung durch Kreditinstitute (z.B. Überweisungsgebühren, Wechselkursgebühren) oder einfuhrrechtliche Abgaben bzw. Steuern (z.B. Zölle). Weitere Informationen finden Sie beispielsweise unter http://ec.europa.eu/taxation_customs/dds/cgi-bin/tarchap?Lang=DE und zur Einfuhrumsatzsteuer unter http://auskunft.ezt-online.de/ezto/Welcome.do sowie speziell für die Schweiz unter http://xtares.admin.ch/tares/login/loginFormFiller.do.
