// -> ebay shop site
div.ebay-shop.site
  include block-carchooser
  .row
    .col-lg-12
      img.img-rounded(src="#{source_url}/images/lager2.jpg", style="width:100%; margin-bottom: 20px;")
    .col-lg-6
      include panel-welcome
    .col-lg-6
      .telephone
      include panel-support-short
  .row
    .col-lg-12
      include panel-bank
// <- ebay shop site