div.ebay-shop.site
  img.img-rounded(src="#{source_url}/images/sliteshow.gif", style="max-width:100%; margin-bottom: 20px;")
  include panel-christopher
  img.img-rounded(src="#{source_url}/images/lager1.jpg", style="max-width:100%; margin-bottom: 20px;")
  include panel-support
  include panel-bank