div.ebay-shop.site
  .panel.panel-bgw
    .panel-heading
      h3.panel-title
        i.icon-info
        | Wir vertreiben VW Classic Parts
    .panel-body
      img.pull-right(src="#{source_url}/images/vwcp.jpg", alt='Volkswagen Classic Parts')
      p
        | Nur das Beste für ihren klassischen Volkswagen. Wir sind in der Lage ihnen ein grosses Sortiment an originalen Ersatzteilen für ihren Volkswagen zu liefern.
      p
        | Um ihnen die Suche zu erleichtern haben wir alle Artikel aus dem Sortiment von Volkswagen Classic Parts mit dem Classic Parts -Label versehen.
      p
        | Darüberhinaus können sie natürlich auch Classic Parts Teile für modernere Alltagsfahrzeuge wie z.B. den Golf 3 oder 4 bequem über uns beziehen. Hierzu senden sie uns einfach eine Mail an: 
        a(href='mailto:classicparts@bugwelder.com?Subject=VW%20Classic%20Parts', target="_blank") classicparts@bugwelder.com
        |  oder rufen uns unverbindlich an.