.panel.panel-bgw
  .panel-heading
      h3.panel-title Infos zur KBA Zertifizierung
    .panel-body
      img.pull-right(src='#{source_url}/tuv_cert.png', alt='TÜV Thüringen Zertifiziert | KBA 15 102 12019')
      p
        | Wir sind seit Oktober 2012 im Sinne des Kraftfahrtbundesamtes zertifiziert. Somit sind wir in der Lage für Leichtmetallsonderräder und viele andere Produkte aus -durch uns- überwachter Fertigung Gutachten und -wie im Falle einiger unserer Leichtmetallsonderräder- EU-ABE´s zu beantragen.
      p
        | Wir können so exclusiv Räder im historischen Design in überwachter hochwertiger Qualität zum legalen Betrieb im deutschen Strassenverkehr anbieten. Durch die ABE für viele Fahrzeugtypen sind sie in der Lage die Räder unkompliziert zu montieren. Sollte ihr Fahrzeug in der ABE vermerkt sein, reicht es Selbige im Fahrzeug mitzuführen. Sollten sie weitere Modifikationen am Wagen durchgeführt haben, so müssen die Räder durch einen TÜV Gutachter eingetragen werden. Hierzu dient die ABE als legale Basis.
      p
        | Ein einfacher Festigkeitsbericht -wie oft angepriesen- reicht in keinem Falle zu einer Eintragung von Felgen. Diese Tatsache ist durch das Kraftfahrtbundesamt klar geregelt.
      .thumbnail.pull-left
        img.img-rounded(src='#{source_url}/images/kba/impact.png', alt='')
        .caption Impact-Test mit 690kg Radlast
      .thumbnail.pull-left
        img.img-rounded(src='#{source_url}/images/kba/umlauf.png', alt='')
        .caption Umlaufbiegeprüfung mit simulierten 200.000km
